/* course-card.is-first {

    border: 2px solid black;
    display: flex;
    height: 0px;
}

course-card.is-last {
    border: 2px solid black;
    display: flex;
    height: 0px;
}

course-card.is-even {
    color: #4a5568;

}

course-card.is-odd {
    color: bisque;
} */
.highlighted {
    border: 2px solid orange;
    background-color: #fff3e0;
}

.active {
    background-color: lightblue;
    color: white;
    padding: 8px;
}